discord.py
python-dotenv
requests
beautifulsoup4
boto3
pytz
selenium
webdriver-manager
aiohttp
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
propcache
soupsieve
urllib3
yarl
aiohappyeyeballs
aiosignal
jmespath
python-dateutil
s3transfer
six